body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
h1, h2{
    font-family: 'Arial Black', sans-serif;
}


header{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
}
header h1{
    margin: 0;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
}
nav ul li{
    display: inline;
    margin-right: 10px;
}
nav ul li a{
    color: #ffffdf;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}


.about {
    background-color: white;
    padding: 40px 20px;
    text-align: center;
}
.about p{
    max-width: 600px;
    margin: 10px auto;
}
.about img{
    border-radius: 50%;
    width: 150px;
    margin-top: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}


.projects{
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}
.projects ul{
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}
.projects ul li{
    margin-bottom: 60px;
}
.projects h3{
    font-size: 24px;
}
.projects p{
    margin-bottom: 10px;
}
.projects a{
    color: #007BFF;
    text-decoration: none;
}
.projects a:hover{
    text-decoration: underline;
}
.projects img{
    width: 150px;
    display: block;
    margin: 10px auto;
}
.projects figcaption{
    font-size: 12px;
    color: #555;
}


.skills{
    background-color: white;
    padding: 40px 20px;
    text-align: center;
}
.skills table{
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}
.skills th, td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.skills th{
    background-color: #f2f2f2;
}


.contact{
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}
.contact form{
    max-width: 600px;
    margin: 0 auto;
}
.contact label{
    display: block;
    margin-bottom: 5px;
    text-align: left;
}
.contact input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact button{
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.contact button:hover{
    background-color: #999caa;
}


footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}
